body{
    background-color: #78bb9f;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
}
img{
  width: 100%;  
}

#texto{
    margin-left:10%;
    margin-right: 10%;
    text-align: justify;
   
} 
.cc{
    background-color:#fafafa;
    margin-left:12%;
    margin-right: 13%;
   
}  

table{
   
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
