body{
    background-color: #78bb9f;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0%;
}
img{
  width: 100%;  
}

#texto{
    margin-left:10%;
    margin-right: 10%;
    text-align: justify;
   
} 
.cc{
    background-color:#fafafa;
    margin-left:12%;
    margin-right: 13%;
   
}  

table{
   
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  
  * {
    box-sizing: border-box;
  }
  
  input, textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family:'Montserrat', sans-serif; 
  }
  
  label {
    padding: 5px 5px 5px 0;
    display: inline-block;
  }
  
  input[type=submit]  {
    background-color: #0a8b56;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: 40% 0;
    margin-top: 5px;
    width: 20%;
    font-family:'Montserrat', sans-serif; 
  }
  button {
    background-color: #0a8b56;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px  5px  10px;
    margin-left: 10%;
    width: 20%;
    font-family:'Montserrat', sans-serif; 
  }
  
  input[type=submit]:hover {
    background-color: #34a174;
  }
  
   button:hover{
    background-color: #34a174;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }